@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}
.Header {
  background: rgb(231, 217, 217);
  height: 160px;

}
.Img_Logo {
  margin: 20px 20px;
}
.Header_Text {
  margin-left: 20px;
  font-size: 34px;
}
