@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;

}
.Header {
  background: rgb(231, 217, 217);
  height: 103px;
  display: flex;
  align-items: center;
  object-fit: contain;

}
.Img_Logo {
  margin: 25px;
  
}
.Header_Text {
  font-size: 24px;
  margin-left: -15px;

}
.Header_Input {
  display: flex;
  height: 40px;
  width: 400px;
  outline-color: #db792e;
  border: none;
  margin-left: 40px;
}
.Header_Search {
  background-color: gray;
  padding: 8px;
  margin-top: 3.5px;
}
.Header_more {
  display: flex;
}
.Header_Login  {
  text-decoration: none;
  color: #000000;
  margin: 20px;
  margin-left: 40px;
  font-size: 14px;
}
.Header_Orders {
  text-decoration: none;
  color: #000000;
  margin: 20px;
  font-size: 14px;
}
.Header_Track {
  text-decoration: none;
  color: #000000;
  margin: 20px;
  font-size: 14px;
}
.Header_Checkout {
  text-decoration: none;
  color: #000000;
  margin: 20px;
  font-size: 14px;
  margin-top: 15px;;
}